html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(0, 242, 255), rgb(255, 161, 161));
}

h1{
    text-align: center;
    color: rgb(91, 91, 91);
}

h2{
    text-align: center;
    color: rgb(44, 44, 44);
}

.box-game{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxBot{
    background-color: rgb(58, 87, 117);
    height: 150px;
    width: 300px;
    border-radius: 4% 4% 0 0 ;
    border: solid;
}

.boxBot img{
    padding-left: 100px;
    padding-top: 40px;
}

.boxPlayer{
    background-color: rgb(96, 96, 175);
    height: 150px;
    width: 300px;
    border-radius: 0 0 4% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: solid;
}

.container{
    display: flex;
    justify-content: center;
}

.info{  
    padding-top: 16px;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: white;
    margin-top: 30px;
    border: 5px solid salmon;
    border-radius: 8px;
    color: salmon;
    font-weight: bold;
}

.keterangan{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box-keterangan{
    height: 410px;
    width: 200px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: solid;
}

.box-keterangan li{
    list-style: none;
}

.box-keterangan ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

span{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
}



.gajah, .orang, .semut {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
    border-radius: 50%;
}

.gajah:hover, .semut:hover, .orang:hover, .active {
    box-shadow: 0 0 10px 5px limegreen;
}

.gajah:active, .semut:active, .orang:active {
    top: 2px;
}
